* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.naar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: auto;
}

.img-responsive {
  width: 100px;
  padding-top: 0px;
}

.nar {
  width: 900px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 25px;
}
.section {
  width: 100%;
  min-height: 100vh;
  background-color: #ddd;
}
.container {
  width: 80%;
  display: block;
  margin: auto;
  padding-top: 100px;
}
.contact-section {
  float: left;
  width: 50px;
}
.image-section {
  float: right;
  width: 40%;
  margin-left: 20px;
}
.image-section img {
  width: 100%;
  height: auto;
}
.content-section .title {
  text-transform: uppercase;
  font-size: 28px;
}
.contact-section .content h3 {
  margin-top: 20px;
  color: #5d5d5d;
}
.content-section .content p {
  margin-top: 10px;
  font-family: sans-serif;
  font-size: 18px;
  line-height: 1.5;
}
body {
  background-color: grey;
}
.about-item {
  width: 100%;
  height: auto;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(https://images.pexels.com/photos/974314/pexels-photo-974314.jpeg?auto=compress&cs=tinysrgb&w=600);
  background-size: cover;
  margin-bottom: 20px;
  margin-top: 20px;
  background-color: white;
  padding: 80px 30px;
  box-shadow: 0 0 9px rgba(0, 0, 0.6);
}
.about-item i {
  font-size: 43px;
  margin: 0;
}

.about-item h3 {
  font-size: 25px;
  margin-bottom: 10px;
}

.about-item hr {
  width: 46px;
  height: 3px;
  background-color: #5fbff9;
  margin: 0 auto;
  border: none;
  text-align: center;
}
.about-item:hover {
  background-color: #5fbff9;
}
.about-item:hover i,
.about-item:hover h3,
.about-item:hover p {
  color: #fff;
}
.about-item:hover hr {
  background-color: #fff;
}
.about-item:hover i {
  transform: translateY(-20px);
}
.about-item:hover i,
.about-item:hover h3,
.about-item:hover hr {
  transition: all 400ms ease-in-out;
}
@media screen and (max-width: 768px) {
  .container {
    width: 80%;
    display: block;
    margin: auto;
    padding-top: 100px;
  }
  .contact-section {
    float: none;
    width: 100%;
    display: block;
    margin: auto;
  }
  .image-section {
    float: right;
    width: 40%;
  }
  .image-section {
    float: right;
    width: 40%;
  }
}
