* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  }
  
  .naar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: auto;
  }
  
  .img-responsive {
    width: 100px;
    padding-top: 0px;
  }
  
  .nar {
    width: 900px;
    
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 25px;
  }

/*=======================
 adding style to about-1 
=======================*/
.tt{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(https://images.pexels.com/photos/2237485/pexels-photo-2237485.jpeg?auto=compress&cs=tinysrgb&w=600);
  background-size: cover;
}
.about-1{
    margin: 30px;
    padding: 5px;
    
}
.about-1 h1{
    text-align: center;
    color: black;
    font-weight: bold;
}
.about-1 p{
    text-align: center;
    padding: 3px;
    color: black;
}

/*===========================
 adding style to about items 
============================*/

.about-item{
    margin-bottom: 20px;
    margin-top: 20px;
    background-color: white;
    padding: 80px 30px;
    box-shadow: 0 0 9px rgba(0,0,0.6);
}

/*======================================
adding style to the icons(book,globe,pencil)
=========================================*/
.about-item i{
    font-size: 43px;
    margin: 0;
}

/*======================================
adding style to h3(heading 3) of each item 
=========================================*/
.about-item h3{
    font-size: 25px;
    margin-bottom: 10px;
}

/*======================================
styling the hr (the blue line in between)
=========================================*/
.about-item hr{
    width: 46px;
    height: 3px;
    background-color: #5fbff9;
    margin: 0 auto;
    border: none;
    text-align: center;
}

/*========================================
hover means when you put your cursor over it
=========================================*/
.about-item:hover{
    background-color: #5fbff9;
}
.about-item:hover i,
.about-item:hover h3,
.about-item:hover p{
    color: #fff;
}
.about-item:hover hr{
    background-color: #fff;
}

/*==============================================================================
translate Y: move along the Y axis, negative(-20) moves it up, while positive(20) moves in down by  
================================================================================*/
.about-item:hover i{
    transform: translateY(-20px);
}
.about-item:hover i,
.about-item:hover h3,
.about-item:hover hr{
    transition: all 400ms ease-in-out;
}
/*================================================================================
if you manage it to this far, congratulations, check more on https://devhubke.com
=================================================================================*/
















